<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/97bdcc5c17.js"></script>

    <title>TEMPLATE BLOG SIMPLES</title>
  </head>
  <body>

    <nav>
      <div align="right"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      </button></div>

      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul>
          <li><a href="#1">Home</a></li>
          <li><a href="#2">About</a></li>
          <li><a href="#3">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="pg-sobre">
            <h4>Contato</h4>
            <hr>
            
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            <hr>
          <p>
            Telefone: 
            <b>(00) - 00000-0000</b><br>

            Email: 
            <a href="mailto:thiago_salests@hotmail.com">thiago_salests@hotmail.com</a>
          </p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="menu-right">
              <div class="title">BUSCAR</div>
              <div class="content">
                <form method="POST" class="form-inline margin-top">
                  <input type="text" name="busca" class="form-control">
                  <input type="submit" value="BUSCAR" class="btn btn-primary">
                </form>
              </div>
          </div>

          <div class="menu-right">
              <div class="title">MAIS POPULARES</div>
              <div class="content margin-top">
                <div class="media">
                  <img src="http://tutoriaiseinformatica.com/blog/images/uploads/img_1172437285_mobirisetemplater.fw.png" class="mr-3">
                  <div class="media-body">
                    <h5 class="mt-0"><a href="#">ALGO DE ERRADO NÃO</a></h5>
                  </div>
                </div>
                <hr>
              </div>
          </div>

            <div class="menu-right">
              <div class="title">CATEGORIAS</div>
              <div class="content">
                <ul>
                  <li><a href="tags/ajax">ajax (3)</a></li>
                  <li><a href="tags/android">android </a></li>
                  <li><a href="tags/aulas">aulas (46)</a></li>
                  <li><a href="tags/css">css (1)</a></li>
                  <li><a href="tags/cursos">cursos </a></li>
                  <li><a href="tags/entretenimento">entretenimento (3)</a></li>
                  <li><a href="tags/excell">excell (2)</a></li>
                  <li><a href="tags/javascript">javascript (3)</a></li>
                  <li><a href="tags/jquery">jquery </a></li>
                  <li><a href="tags/mundo">mundo </a></li>
                  <li><a href="tags/mysql">mysql </a></li>
                  <li><a href="tags/mysqli">mysqli </a></li>
                  <li><a href="tags/noticias">noticias (4)</a></li>
                  <li><a href="tags/php">php (13)</a></li>
                  <li><a href="tags/powerpoint">powerpoint (1)</a></li>
                  <li><a href="tags/projetos">projetos (9)</a></li>
                  <li><a href="tags/reviews">reviews (1)</a></li>
                  <li><a href="tags/sites">sites </a></li>
                  <li><a href="tags/word">word </a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>



    
  </body>
</html>